extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-md-2" style=`background-color:black;color: green;font-family: "times";border: 7px solid yellow;border-radius: 14px; padding: 10px; border-inline-style: dotted; box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.5)` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           peacock_species -  #{cin.peacock_species}
          p.
           feather_color -  #{cin.feather_color}
          p.
           age  -  #{cin.age}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }